/*This CSS stylesheet for EME6930 Week 1 addresses critiques from Week 0 by adding a flexbox model to create a wrapping row for linking to assignments.
Styled the flex container and the child divs; added a hover selector color to the child divs (a blue-green complementary to the maroon of the header/footer/div).
Styled the class assignment links white/bold.
Fonts: At FontSquirrel.com I found Raleway, a sans-serif font that I've used for the headings (Raleway Bold) and URL links (Raleway-Light).
 I googled a comlementary font for body text and found Merriweather suggested by typ.io.
Colors: Using a maroon from the daenerys color palette created by https://www.color-hex.com/member/girlinthemachine with tints of cream.
 The URL hover color is a blue-green complementary to the maroon.
 */

@font-face {
	font-family:"Raleway";
	src: url('../assets/fonts/raleway/Raleway-Light.ttf') format('truetype');
}
@font-face {
	font-family:"Raleway Bold";
	src: url('../assets/fonts/raleway/Raleway-Bold.ttf') format('truetype');
}
@font-face {
	font-family:"Merriweather";
	src: url('../assets/fonts/merriweather/Merriweather-Light.otf') format('opentype');
}
@font-face {
	font-family:"Merriweather Regular";
	src: url('../assets/fonts/merriweather/Merriweather-Regular.otf') format('opentype');
}
h1 {
	font-family: "Raleway Bold", arial, sans-serif;
	color:  white;
	font-size: 30px;
}
h2 {
	margin-top: 0px;
	margin-bottom: 0px;	
	font-family: "Raleway Bold", arial, sans-serif;
	color:  #00000f;
	font-size: 24px;
}
h3 {
	font-family: "Raleway Bold", arial, sans-serif;
	color:  #00000f;
	font-size: 16px;
	text-align: center;
	padding-top: 10px;
}
p {
	font-family: "Merriweather", Helvetica, arial, sans-serif;
	/*color:  white;*/
	font-size: 14px;
}

body {
	background-color: #fffefa;
}
#container {
	position: relative;
	background-color: #fffdcf;
	height: 600px;
	width: 1000px;
	/*margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;*/
	margin: 0px auto 0px auto;
}
header {
	height: 40px;
	background-color: #890d20;
	color: white;
	text-align: center;
	/*padding: 1px;*/
}

/*This is the flex container that holds the links to class assignments.
Used the Week 0 resource https://css-tricks.com/snippets/css/a-guide-to-flexbox/
(working on understanding css selectors, # for a unique ID or . for a class)*/
.flex-container {
	width: 600px;
	height: 100px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	/*align-items: center;*/
	flex-direction: row;
	flex-wrap: wrap;
	/*flex-flow: row wrap;*/
	justify-content: center;
	justify-content: space-around;
	/*background-color: #fffefa;*/
}
/*This is styling for the child div items (each class assignment link is a child item inside the flex container). */
.flex-container div {
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
		/*I got some tips on vertically aligning text in the child div by making the line height the same as the div height
		- from https://stackoverflow.com/questions/6055412/center-text-in-div */
	color: white;
	background-color: #890d20;
}
	/*These two pieces are styling for the child div URL links*/
	.flex-container a {
		color: white;
		font-family: "Raleway", arial, sans-serif;
	}
	.flex-container div:hover {
		background-color: #0d8976;
	}
	
footer {
	position: absolute;
	height: 20px;
	width: 100%;
	background-color: #890d20;
	color: white;
	bottom: 0px;
	font-family: "Raleway Bold", Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	/*padding-top: 5px;*/
}
